@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --slot-height: 16px;
  --color-primary: #ff9a00;
  --color-primary-accent: #ff5d00;
  --color-secondary: rgba(48, 96, 207, 0.986);
  --color-secondary-accent: #00a2ff6b;
  --color-tertiary: rgba(255, 0, 0, 0.514);
  --color-bg-app: #d7dde1;
  --color-bg-radiant: #dce2e6;
  --color-bg-surface: #eaefef;
  --color-border-dark: rgb(55, 56, 114);
  --color-text-primary: rgb(109, 110, 112);
  --color-text-muted: rgba(201, 203, 211, 0.37);
  --dot-color: rgb(184, 184, 184);
  --dot-size: 2px;
  --dot-space: 1rem;
}

body {
  margin: 0;
  background-color: var(--color-bg-app);
  color: var(--color-primary);
  font-family: 'Satoshi';

  background:
    radial-gradient(transparent 50%, var(--color-bg-radiant)),
    linear-gradient(90deg, var(--color-bg-app) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center /
      var(--dot-space) var(--dot-space),
    linear-gradient(var(--color-bg-app) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center /
      var(--dot-space) var(--dot-space),
    var(--dot-color);
}

main {
  height: 100dvh;
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}

button {
  font-family: 'Satoshi';
  transition: background-color 0.1s ease-in;
}

input {
  background-color: var(--color-bg-surface);
  color: var(--color-secondary);
  border-radius: 0.25rem;
  padding: 3px;
  border: 1px solid transparent;
  outline: none;
  transition:
    background-color 0.1s ease-in,
    color 0.1s;
}

input::placeholder {
  color: var(--color-text-muted);
}

input:focus-visible {
  border-color: var(--color-primary-accent);
}

input:hover {
  background-color: var(--color-secondary-accent);
  color: var(--color-bg-surface);
  cursor: text;
}

.calendar {
  box-sizing: border-box;
  max-height: calc(100dvh - 4rem);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--color-bg-surface);
  padding-right: 20px;
  padding-left: 25px;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 3px 3px var(--color-text-muted);
}

.calendar > h2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 0;
  font-weight: 300;
  font-size: 1.5rem;
}

.calendar > h2 > input {
  text-align: center;
  font-family: 'Satoshi';
  font-weight: normal;
  height: 1.5rem;
  color: var(--color-secondary);
}

.calendar > h2 > input:hover {
  background-color: var(--color-primary);
  color: var(--color-bg-surface);
  cursor: text;
}

.datesWrapper {
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
  min-width: 0;
  padding: 0px 3px;
  scrollbar-gutter: stable;
}

.dates {
  display: flex;
  width: max-content;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.slots {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

.day {
  min-width: 10rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-border-dark);
  border-radius: 0.5rem;
  padding-bottom: 1rem;
  box-shadow: 0 3px 3px var(--color-text-muted);
}

.day > h3 {
  text-align: center;
  padding: 0.5rem;
  width: 100%;
  margin: 0;
  background-color: var(--color-primary);
  color: var(--color-bg-surface);
  margin-bottom: 1rem;
}

.slot {
  user-select: none;
  display: flex;
  justify-content: center;
  width: 100%;
  height: var(--slot-height);
  font-size: 12px;
  color: var(--color-text-muted);
  background-color: var(--color-bg-surface);
  border-radius: 0.25rem;
  cursor: pointer;
}

.slot.isFullHour {
  color: var(--color-text-primary);
}

.slot:hover {
  color: var(--color-bg-surface);
  font-weight: 900;
  background-color: var(--color-primary);
}

.slot.isOccupied:hover {
  background-color: var(--color-text-muted);
  cursor: not-allowed;
}

.isOccupied {
  opacity: 0.25;
}

.event {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-family: Satoshi;
  position: absolute;
  width: 75%;
  font-size: auto;
  overflow: hidden;
  border-radius: 0.5rem;
  background: var(--color-secondary-accent);
  border: 1px solid var(--color-secondary-accent);
  transition:
    background-color 0.1s ease-in,
    width 0.15s,
    color 0.1s;
}

.event:hover {
  cursor: grab;
  border-color: var(--color-primary-accent);
}

.event.currentSelection {
  background-color: var(--color-primary);
  border-color: var(--color-primary-accent);
}

.topHandle,
.botHandle {
  position: absolute;
  left: 0;
  right: 0;
  height: 8px;
  cursor: ns-resize;
}

.topHandle {
  top: 0;
}

.botHandle {
  bottom: 0;
}

.topHandle:hover,
.botHandle:hover {
  cursor: n-resize;
}

.addEvent {
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--color-bg-surface);
  border: 1px var(--color-primary) solid;
  box-shadow: 0 3px 3px var(--color-text-muted);
  z-index: 1000;
}

.addEvent > label {
  margin-top: 0.5rem;
  font-weight: 700;
}

.addEvent > label:first-of-type {
  margin-top: 0rem;
}

.addEvent > button {
  box-sizing: border-box;
  border: 1px var(--color-secondary-accent) solid;
  margin-top: 0.5rem;
  background-color: var(--color-bg-surface);
  color: var(--color-text-primary);
  padding: 0.5rem;
  border-radius: 8px;
}

.addEvent > input:hover {
  background-color: var(--color-primary);
}

.addEvent > button:hover {
  background-color: var(--color-primary);
  color: var(--color-bg-surface);
  border-color: var(--color-primary-accent);
}

.timeFrameContainer {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
  height: 100%;
  width: 500px;
}

.selectTimeFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  width: 100%;
}

.selectTimeFrame > h1 {
  text-align: center;
  background-color: var(--color-bg-surface);
  font-weight: 500;
  padding-block: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 3px 3px var(--color-text-muted);
  width: 100%;
}

.dateForm {
  width: 75%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-surface);
  box-shadow: 0 3px 3px var(--color-text-muted);
  padding-block: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  align-items: center;
  gap: 1rem;
}

.highlight {
  border-radius: 5px;
}

.eventList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 0.5rem;
  border-radius: 16px;
}

.eventListWrapper {
  margin-top: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
}

.eventListWrapper::-webkit-scrollbar,
.datesWrapper::-webkit-scrollbar {
  scrollbar-width: thin;
}

.eventListWrapper::-webkit-scrollbar-thumb,
.datesWrapper::-webkit-scrollbar-thumb {
  background: var(--color-text-muted);
  border-radius: 1rem;
  height: 50%;
}

.eventControlContainer {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-height: 0;
  min-width: 450px;
  width: 50%;
  box-sizing: border-box;
  width: 20rem;
  background-color: var(--color-bg-surface);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 3px 3px var(--color-text-muted);
}

.eventControlContainer > h2 > input {
  text-align: center;
  font-family: 'Satoshi';
  font-weight: bold;
  height: 1.5rem;
  background-color: var(--color-primary);
  color: var(--color-bg-surface);
  width: 100%;
}

.eventControlContainer > h2 > input:hover {
  color: var(--color-primary);
  background-color: var(--color-bg-surface);
}

.eventControlContainer > .addEvent {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 10rem 1fr;

  align-items: center;
  gap: 0.5rem 0rem;
  border-radius: 8px;
  position: relative;
  padding: 1rem 0.5rem;
}

.eventControlContainer > .addEvent > button {
  grid-column: 1 / -1;
}

.eventListElement {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.eventListElementContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-block: 0.2rem;
  border-radius: 0.5rem;
  border: none;
  border: 1px var(--color-secondary-accent) solid;
}

.eventListElementContent span {
  white-space: nowrap;
  margin-left: 0.1rem;
}

.eventListElementContent > input:focus-visible,
.eventListElementContent > span > input:focus-visible {
  border-color: var(--color-secondary-accent);
}

.deleteEvent {
  color: var(--color-text-primary);
  background-color: var(--color-bg-surface);
  border: 1px var(--color-tertiary) solid;
  border-radius: 0.5rem;
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

.deleteEvent:hover {
  background-color: var(--color-tertiary);
  color: var(--color-bg-surface);
}

.dayEvents {
  border: 1px solid black;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.eventListDayHeader {
  border-radius: 0.5rem;
  padding: 0.25rem;
  color: var(--color-primary);
  margin-top: 0rem;
  margin-bottom: 0;
}

.eventListDayHeader:first-child {
  margin-top: 0rem;
}

.selection {
  pointer-events: none;
  background-color: var(--color-primary);
  opacity: 0.25;
  position: absolute;
  width: 100%;
  border-radius: 0.5rem;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  color: transparent;
  cursor: pointer;
  width: 50px;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 0.25rem;
  background-color: var(--color-text-muted);
  border-radius: 8px;
}

input[type='range']::-moz-range-track {
  height: 0.25rem;
  background-color: var(--color-text-muted);
  border-radius: 8px;
}

input[type='range']::-ms-track {
  height: 0.25rem;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type='range']::-ms-fill-lower,
input[type='range']::-ms-fill-upper {
  background-color: var(--color-text-muted);
  border-radius: 8px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 3px;
  background: var(--color-secondary-accent);
  cursor: pointer;
  margin-top: -0.125rem;
  scale: 1;
  transition:
    scale 0.1s ease,
    color 0.1s ease;
}

input[type='range']:hover::-webkit-slider-thumb {
  scale: 1.25;
  background-color: var(--color-primary);
}

input[type='range']::-moz-range-thumb {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 3px;
  background: var(--color-primary);
  cursor: pointer;
  border: none;
}

input[type='range']::-ms-thumb {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 3px;
  background: var(--color-primary);
  cursor: pointer;
  border: none;
}

input#slotInterval:hover {
  background-color: var(--color-bg-surface);
}

@media (max-width: 1400px) {
  .eventControlContainer {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  main {
    gap: 1rem;
  }

  .calendar {
    max-height: none;
    overflow-y: visible;
  }

  .day {
    width: 30%;
  }

  .dates {
    width: 100%;
  }

  .eventControlContainer {
    width: 100%;
  }
}
